<div class="issue-list-container">
    <nz-card nzTitle="My Reported Issues" [nzExtra]="extraTemplate">
        <nz-table #basicTable [nzData]="issues" [nzLoading]="loading" [nzNoResult]="noResultTemplate">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Priority</th>
                    <th>Status</th>
                    <th>Created At</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data">
                    <td>{{ data.title }}</td>
                    <td>
                        <nz-tag [nzColor]="getPriorityColor(data.priority)">{{ data.priority }}</nz-tag>
                    </td>
                    <td>
                        <nz-tag [nzColor]="getStatusColor(data.status)">{{ data.status }}</nz-tag>
                    </td>
                    <td>{{ data.createdAt | date:'short' }}</td>
                    <td>
                        <a nz-button nzType="link" (click)="openDrawer(data)">View</a>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </nz-card>
    <ng-template #extraTemplate>
        <button nz-button nzType="primary" routerLink="/issues/create">
            <span nz-icon nzType="plus"></span>
            Report Issue
        </button>
    </ng-template>

    <ng-template #noResultTemplate>
        <nz-empty nzNotFoundImage="simple" [nzNotFoundContent]="contentTpl" [nzNotFoundFooter]="footerTpl">
            <ng-template #contentTpl>
                <span>No issues found</span>
            </ng-template>
            <ng-template #footerTpl>
                <button nz-button nzType="primary" routerLink="/issues/create">Report Issue</button>
            </ng-template>
        </nz-empty>
    </ng-template>

    <app-issue-details-drawer [visible]="drawerVisible" [issue]="selectedIssue" [isManager]="false"
        (close)="closeDrawer()"></app-issue-details-drawer>
</div>