<div class="create-issue-container">
    <nz-card style="width: 600px;" nzTitle="Report a New Issue">
        <form nz-form [formGroup]="issueForm" (ngSubmit)="submitForm()">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="title">Title</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input the title!">
                    <input nz-input formControlName="title" id="title" placeholder="Issue Title" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="description">Description</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input the description!">
                    <textarea nz-input formControlName="description" id="description" rows="4"
                        placeholder="Describe the issue..."></textarea>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="priority">Priority</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please select priority!">
                    <nz-select formControlName="priority" id="priority">
                        <nz-option *ngFor="let p of priorities" [nzValue]="p" [nzLabel]="p"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="image">Image</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-upload [nzBeforeUpload]="beforeUpload" [nzFileList]="fileList" [nzLimit]="1">
                        <button nz-button type="button">
                            <span nz-icon nzType="upload"></span>
                            Select Image
                        </button>
                    </nz-upload>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-control [nzSpan]="14" [nzOffset]="6">
                    <button nz-button nzType="primary" [nzLoading]="isLoading">Submit Issue</button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </nz-card>
</div>