@import '../../../styles/variables';
@import '../../../styles/mixins';

.create-issue-container {
    display: flex;
    justify-content: center;
    padding: $spacing-xxl $spacing-lg;
    min-height: 100%;
}

.form-wrapper {
    width: 100%;
    max-width: 700px;
    padding: $spacing-xl;
    border-radius: $border-radius-xl;
}

.page-header {
    text-align: center;
    margin-bottom: $spacing-xl;

    h1 {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: $spacing-xs;
    }

    p {
        color: $text-color-secondary;
        font-size: $font-size-lg;
    }
}

.upload-container {
    ::ng-deep .ant-upload {
        width: 100%;
    }
}

.submit-btn {
    height: 48px;
    font-size: $font-size-lg;
    font-weight: 600;
    margin-top: $spacing-md;
}

@media (max-width: 576px) {
    .create-issue-container {
        padding: $spacing-md;
    }

    .form-wrapper {
        padding: $spacing-lg;
    }
}