@import './variables';

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin card-shadow {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);
}

@mixin responsive($breakpoint) {
    @if $breakpoint ==sm {
        @media (min-width: 576px) {
            @content;
        }
    }

    @else if $breakpoint ==md {
        @media (min-width: 768px) {
            @content;
        }
    }

    @else if $breakpoint ==lg {
        @media (min-width: 992px) {
            @content;
        }
    }

    @else if $breakpoint ==xl {
        @media (min-width: 1200px) {
            @content;
        }
    }
}