<nz-list [nzDataSource]="comments" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
    <ng-template #item let-item>
        <nz-comment [nzAuthor]="item.user.name" [nzDatetime]="(item.createdAt | date:'short') || ''">
            <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="item.user.avatar"></nz-avatar>
            <nz-comment-content>
                <p>{{ item.content }}</p>
            </nz-comment-content>
        </nz-comment>
    </ng-template>
</nz-list>

<nz-comment>
    <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="user?.avatar"></nz-avatar>
    <nz-comment-content>
        <nz-form-item>
            <textarea nz-input [(ngModel)]="newCommentContent" [nzAutosize]="{ minRows: 2, maxRows: 4 }"></textarea>
        </nz-form-item>
        <nz-form-item>
            <button nz-button nzType="primary" [nzLoading]="submitting" [disabled]="!newCommentContent"
                (click)="submitComment()">
                Add Comment
            </button>
        </nz-form-item>
    </nz-comment-content>
</nz-comment>